<?php

# see https://steamcommunity.com/dev/apikey
define("KEY",            "FIXME");

define("MYSQL_HOSTNAME", "localhost");
define("MYSQL_DATABASE", "FIXME");
define("MYSQL_USER",     "FIXME");
define("MYSQL_PASSWORD", "FIXME");

define("MONGODB_HOSTNAME", "FIXME");
define("MONGODB_PORT",     "FIXME");
define("MONGODB_USERNAME", "FIXME");
define("MONGODB_PASSWORD", "FIXME");